body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#hello {
    font-size: 28px;
    color: #333;
}